<div class="container-item">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="https://th.bing.com/th/id/R.def554c7733e698272097486dd2016a8?rik=jV76i3ycAZyMyg&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fjix%2f6qy%2fjix6qyA6T.gif&ehk=fSbmAD2JkbQYXzkdEs70ga5G5LHhCLJy3GrNo3vsJsY%3d&risl=&pid=ImgRaw&r=0" alt="">
                <h1>404..!!!</h1>
                <h1>Page Not Found........!!!</h1>
                <p>the page you are looking cannot be found....!</p>
            </div>
        </div>
    </div>
</div>
